<div class="main odais-index">
  <div class="container">

    <% @bokes.each do |boke| %>
      <div class="bokes-index-item">
        <% if @odai.include?(boke.odai_id) %>
          <% @odais.each do |odai| %>
            <% if boke.odai_id == odai.id %>
              <div class="boke-user-name">
                <%= link_to("#{odai.user.username}さんからのお題", "/users/#{odai.user.id}") %>

              </div>
                <% if odai.image? %>
                  <div class="image">
                    <%= image_tag odai.image_url(:thumb) %>
                  </div>
                  <div class="boke-content">
                    <%= odai.content %>
                  </div>
                <% else %>

                <% end %>
            <% else %>

            <% end %>
          <% end %>
        <% else %>
          <div class="delete-content">
            <p>お題が削除されているかユーザーが</p>
            <p>いない可能性があります</p>
          </div>
        <% end %>
        <div class="boke-user-name">
          <%= link_to("#{boke.user.username}さんの回答", "/users/#{boke.user.id}") %>
        </div>
        <% if boke.image? %>
        <div class="image"><%= image_tag boke.image_url(:thumb) %></div>
        <% end %>

        <%= link_to(boke.content, "/bokes/#{boke.id}", class: "boke-content")%>




      </div>
    <% end %>
  </div>
</div>
