<div class="main odais-index">
  <div class="container">

    <% @bokes.each do |boke| %>
      <div class="bokes-index-item">
        <% if @odai.include?(boke.odai_id) %>
          <% @odais.each do |odai| %>
            <% if boke.odai_id == odai.id %>
              <div class="post-user-name">
                <%= link_to("#{odai.user.username}さんからのお題", "/users/#{odai.user.id}") %>

              </div>
              <div class="content"><%= odai.content %></div>
                <% if odai.image? %>
                  <div class="image"><%= image_tag odai.image_url(:thumb) %></div>
                <% else %>

                <% end %>
            <% else %>

            <% end %>
          <% end %>
        <% else %>
        <p>お題が削除されているかユーザーがいない可能性があります</p>
        <% end %>
        <div class="post-user-name">
          <%= link_to("#{boke.user.username}さんの回答", "/users/#{boke.user.id}") %>
        </div>
        <% if boke.image? %>
        <div class="image"><%= image_tag boke.image_url(:thumb) %></div>
        <% end %>
        <div class="content"><%= link_to(boke.content, "/bokes/#{boke.id}", id: "content-text")%></div>



      </div>
    <% end %>
  </div>
</div>
