<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
      </div>
      <% if @boke.image? %>
      <div class="image">
        <%= image_tag @boke.image_url(:thumb) %>
      </div>
      <% end %>
      <p>
        <%= @boke.content %>
      </p>
      <div class="post-time">
        <%= @boke.created_at %>
      </div>
      <div class="post-menus">

        <%= link_to("編集", "/bokes/#{@boke.id}/edit") %>
        <%= link_to("削除", "/bokes/#{@boke.id}/destroy",{method: "post"}) %>

      </div>
    </div>
  </div>
</div>
<%= @boke.id %>
