<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%# <%= form_tag("/odais/#{@odai.id}/update") do %> %>
    <%= form_for @odai, :url => {:action => 'update'} do |f| %>
    <div class="form">
      <div class="form-body">
        <% @odai.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :image %>
            <%= f.file_field :image, id: :post_image %>
            <%= f.hidden_field :image_cache %>
          </div>

          <div id="preview">
          </div>


          <div class="field">
            <%= f.label :content %>
            <%= f.text_area :content %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
