<div class="main odais-index">
  <div class="container">
    <% @odais.each do |odai| %>
      <div class="odais-index-item">
        <div class="odai-user-name">
          <%= link_to("#{odai.user.username}さんからのお題", "/users/#{odai.user.id}") %>
        </div>
        <!--<%# <%= link_to image_tag(odai.image_url(:thumb)), "/odais/#{odai.id}" %> %>-->
        <% if odai.image? %>
        <div class="image">
          <%= image_tag odai.image_url(:thumb) %>
        </div>
        <% end %>
        <div class="odai-content">
          <%= link_to(odai.content, "/odais/#{odai.id}")%>
        </div>
        <div class="btn-area">
          <div class="btn">
            <%= link_to("このお題にボケる","/odais/#{odai.id}", id: "btn-text") %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
