
<div class="main posts-new">
  <div class="container">

    <%= form_for @odai, url: odais_new_path do |f| %>
    <div class="form">
      <div class="form-body">
        <% @odai.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
              <h1>お題を投稿する</h1>

              <div class="field">
                <%= f.label :image %>
                <%= f.file_field :image, id: :post_image %>
                <%= f.hidden_field :image_cache %>
              </div>

              <div class="preview">
                
              </div>


              <div class="field">
                <%= f.label :content %>
                <%= f.text_area :content %>
              </div>

              <div class="actions">
                <%= f.submit %>
              </div>



      </div>
    </div>
    <% end %>
  </div>
</div>
