<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.username %></h2>
      <% if @user.id == @current_user.id %>
      <p><%= @user.email %></p>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @likes.each do |like| %>
      <% boke = Boke.find_by(id: like.boke_id) %>

      <div class="posts-index-item">
        <div class="post-left">

        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(boke.user.username, "/users/#{boke.user.id}") %>
          </div>
          <%= link_to(boke.content, "/posts/#{boke.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
