<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.username %></h2>
      <% if @user.id == current_user.id %>
      <p><%= @user.email %></p>
      <%= link_to("アカウント編集", "/users/edit") %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @user.odais.each do |odai|%>

     <div class="like-odais-index-item">
        <% if odai.image? %>
        <div class="image"><%= image_tag odai.image_url(:thumb) %></div>
        <% end %>
        <div class="odai-content">
          <%= link_to(odai.content, "/odais/#{odai.id}") %>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>
