<!DOCTYPE html>
<html>
  <head>
    <title>Ogiri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <div class="header-logo">
    <%= link_to("マルチ大喜利", "/") %>
  </div>
  <ul class="header-menus">
    <% if user_signed_in? %>
    <li>
      <%= link_to("#{current_user.username}の部屋", "/users/#{current_user.id}") %>
      
    </li>
    <% end %>
    <li>
      <%= link_to("お題一覧", "/") %>
    </li>
    <li>
      <%= link_to("お題投稿", "/odais/new") %>
    </li>
    <li>
      <%= link_to("ユーザー一覧", "/users") %>
    </li>
    <% if user_signed_in? %>
    <li>
      <%= link_to("ログアウト", "/users/logout") %>
    </li>
    <% else %>
    <li>
      <%= link_to("新規登録", "/users/sign_up") %>
    </li>
    <li>
      <%= link_to("ログイン", "/users/login") %>
    </li>
    <% end %>
  </ul>
</header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
